/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

#add-service {
	margin-top: -30px;
}

#add-service-modal input {
	width: 96%;
}
/*
header a {
	display: block;
	text-indent: -999em;
	width: 370px;
	height: 160px;
	margin-right: -45px;
	background: transparent url('/img/logo.png') no-repeat;
}*/









